.toolbox {
  display: flex;
  background-color: var(--color-primary);
  padding: 1rem;
  width: 80.2rem;
}

.toolbox__btn-increase,
.toolbox__size,
.toolbox__btn-decrease,
.toolbox__input-color,
.toolbox__btn-clear {
  background-color: var(--color-white);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.5rem;
  height: 5rem;
  margin: 0.25rem;
  width: 5rem;
}

.toolbox__btn-clear {
  margin-left: auto;
}
